<div align="center"> 
    <p> <strong> About Us.</strong></p> 
</div>
    <p> Welcome to Staff System! The goal is to ensure that user can easily add, delete, and view staff with ease. Our system is designed to streamline the process of registering new staff members and maintaining their information. It is user-friendly, efficient, and secure, allowing you to focus on what matters most - providing excellent care to your patients. We understand the importance of confidentiality and data security, which is why our system is built with great security measures to protect your staff's personal information. Our system is also designed to be scalable, so it can grow with your organization and adapt to your changing needs.


    </p>
